*{
    
}

/*forside*/

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

header{
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
}

header nav div{
    display: flex;
    justify-content: space-between;
    position: absolute;
    text-align: left;
}

.navbar{
    display: none;
}

header nav li{
    list-style: none;
    float: left;

}

a{
    text-decoration: none;
    color: black;
}

#LOGO{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 100%;
    margin: 10%;
    padding: 20%;
}

.knapp{
    background-color: aqua;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
}

a:hover{
   
}

.knapp:hover{
    background-color: blueviolet;
}

#medlemsknapp{
    background-color: rgb(210, 186, 142);
    list-style: none;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

main li a{
    font-size: 40px;
}

ul li{
    list-style: none;
}

footer{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

footer section nav ul li a{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

footer section nav ul li{
    text-align: center;
}

#sosialemedier{
    background-color: rgb(84, 114, 114);
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    margin: rem;
    font-size: 1rem;
}

.ikoner{
    background-color: blueviolet;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    margin: 1.5rem;
}


/*produktside*/

main nav ul li{
    font-size:3px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}


#blå-sko{
    background-color: rgb(40, 167, 218);
    display: inline;
    padding: 0.5rem;
}

#blå-sko:hover{
    background-color: rgb(188, 185, 185);
}

#rød-sko{
    background-color: rgb(219, 86, 86);
    display: inline;
    padding: 0.5rem;
}

#rød-sko:hover{
    background-color: rgb(188, 185, 185);
}

#grønn-sko{
    background-color: rgb(69, 198, 69);
    display: inline;
    padding: 0.5rem;
}

#grønn-sko:hover{
    background-color: rgb(188, 185, 185);
}

.størrelser{
    background-color: blue;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

.størrelser:hover{
    background-color: aquamarine;
}

#kjøpeknapp{
    background-color: brown;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;

}


.produktimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    
}

#produktimg{
    width: 15%;
    display: flex;
}

h6{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
main section p{
    font-family: Arial, Helvetica, sans-serif;
}
/*kjøpsrett*/

h2{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

main section article p{
    font-family: Arial, Helvetica, sans-serif;
}