*{
    box-sizing: border-box;
}

/*forside*/
#grid-container-index, #grid-container-produkt, #grid-container-kjopsrett{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

header{
    font-size: 1.5rem;
    font-weight: 600;
   
}

header nav div{
    display: flex;
    flex-direction: row;
    margin: auto auto auto 2rem;
    padding: 1rem;
    justify-content: space-between;
    position: absolute;
    text-align: center;
}

.navbar{
    display: none;
}

header nav li{
    list-style: none;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: rgb(86, 84, 84);
}

#LOGO{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 100%;
    margin: 10%;
    padding: 20%;
}

.knapp{
    background-color: rgb(68, 198, 198);
    display: flex;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin: 0.5rem;
}


.knapp:hover{
    background-color: blueviolet;
}

.skotype{
    background-color: aqua;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    text-align:center;
}

.skotype:hover{
    background-color: blueviolet;
}

#medlemsknapp{
    background-color: rgb(210, 186, 142);
    list-style: none;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

main li a{
    font-size: 40px;
}

ul li{
    list-style: none;
}

footer{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

footer section nav ul li a{
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;  
}

footer section nav ul li{
    text-align: center;
}

#sosialemedier{
    background-color: rgb(84, 114, 114);
    text-align: center;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
}

.ikoner{
    background-color: rgb(101, 44, 155);
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    margin: 1.5rem;
}


/*produktside*/

main nav ul li{
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.brodsti{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
    display:;
}


#blå-sko{
    background-color: rgb(40, 167, 218);
    display: inline;
    padding: 0.5rem;
}

#blå-sko:hover{
    background-color: rgb(188, 185, 185);
}

#rød-sko{
    background-color: rgb(219, 86, 86);
    display: inline;
    padding: 0.5rem;
}

#rød-sko:hover{
    background-color: rgb(188, 185, 185);
}

#grønn-sko{
    background-color: rgb(69, 198, 69);
    display: inline;
    padding: 0.5rem;
}

#grønn-sko:hover{
    background-color: rgb(188, 185, 185);
}

.størrelser{
    background-color: blue;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

.størrelser:hover{
    background-color: aquamarine;
}

#kjøpeknapp{
    background-color: brown;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;

}


.produktimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    
}

#produktimg{
    width: 15%;
    display: flex;
}

h6{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
main section p{
    font-family: Arial, Helvetica, sans-serif;
}

/*kjøpsrett*/

h2{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

main section article p{
    font-family: Arial, Helvetica, sans-serif;
}

/*responsivt*/

@media only screen and (min-width:600px){
   
    #grid-container-index, #grid-container-produkt, #grid-container-kjopsrett{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1r 1fr;
    }
     
    #grid-container-index main{
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #ham{
        display: none;
    }

    #footer-footer{
        display: grid;
        grid-template-areas: "left center right";
        grid-area: footer;
    }

    .kontakt-oss{
        display: grid;
        grid-template-areas: "left center right";
        grid-area: footer;
    }

    #kontaktoss{
        grid-area: left;
    }

    #vare-produkter{
        grid-area: center;
    }

    #sosiale-medier{
        grid-area: right;
    }

    footer{
        width: 150%;
    }

    


}