*{
    
}

/*forside*/

header nav li{
    list-style: none;
    float: left;

}

a{
    text-decoration: none;
    color: black;
}

#LOGO{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 100%;
    margin: 10%;
    padding: 20%;
}

.produktimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    
}

#produktimg{
    width: 15%;
    display: flex;
}

.knapp{
    background-color: aqua;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
}

a:hover{
   
}

.knapp:hover{
    background-color: blueviolet;
}

.størrelser{
    background-color: blue;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

.størrelser:hover{
    background-color: aquamarine;
}

#kjøpeknapp{
    background-color: brown;
    display: inline;
    padding: 1rem;
    margin: 0.5rem;
    
}

#medlemsknapp{
    background-color: rgb(210, 186, 142);
    list-style: none;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

main li a{
    font-size: 40px;
}

ul li{
    list-style: none;
}

footer{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

footer section nav ul li a{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

/*produktside*/
/*kjøpsrett*/